.port{
    margin-top: 0px;
    color:rgb(255, 255, 255);
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.tcontents{
    transform: scaleY(1);
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.tcontents ul{
    list-style-type: none;
    padding: 0;    
}

.tcontents li{
    margin-bottom: 5px;
}


.toc {
    text-decoration: none;
    color: #007bff;
    margin:15px;
}

.toc:hover { 
    text-decoration: underline;
}

.techim{
    text-align: center;
}

.progateim{
    text-align: center;
    margin-left: 100px;
}

.techtx{
    margin-top: 20px;
}

.progatetx{
    margin-top: 20px;
}

.title1{
    background-color: rgb(181, 245, 255);
}

.title2{
    background-color: rgb(181, 245, 255);
}

.title3{
    background-color: rgb(181, 245, 255);
}

.title4{
    background-color: rgb(181, 245, 255);
}

.title5{
    background-color: rgb(181, 245, 255);
}

.title6{
    background-color: rgb(181, 245, 255);
}

body{
    text-align: center;
}

